{% extends "base.html" %}

{% block page_title %}
<title>爱家-房源</title>
{% end %}

{% block css_files %}
<link href="{{static_url('css/index.css')}}" rel="stylesheet">
{% end %}
{% block js_files %}
<script src="{{static_url('js/index.js')}}"></script>
{% end %}

{% block header %}
<div class="nav-bar">
    <h3 class="page-title">房 源</h3>
</div>
{% end %}
{% block body %}
<ul class="house-list">
    {% if len(houses) > 0 %}
    {% for house in houses %}
    <li class="house-item">
        <a href="https://www.baidu.com"><img src="{{static_url('img/favicon.ico') }}" height=120 width=120></a>
        <div class="house-desc">
            <div class="landlord-pic"><img src="{{static_url('img/talent.jpg')}}" height=120 width=120></div>
            <div class="house-price">￥<span>{{house["price"]}}</span>/晚</div>
            <div class="house-intro">
                <span class="house-title">{{title_join(house["titles"])}}</span>
                <em>整套出租 - {{house["score"]}}分/{{house["comments"]}}点评 - {{house["position"]}}</em>
            </div>
        </div>
    </li>
    {% end %}
    {% else %}
    对不起，暂时没有房源。
    {% end %}
</ul>
{% end %}
{% block footer %}
<p><span><i class="fa fa-copyright"></i></span>爱家租房&nbsp;&nbsp;享受家的温馨</p>
{% end %}